<header class="header" id="header" >
    <div class="container2 logo-nav-container">
        <div class="icon-busq">
            <a href="#"  class="logo"><img src="/images/logos/corona.jpg" alt=""></a>
           <div>
            <input style="color: aliceblue;" class="inputBuscar" type="text" placeholder="Buscar">
           </div>

           <%if(typeof usuario == 'undefined'){%>
            <a href="/users/login" class="link-carrito">
                <i class="fas fa-shopping-cart"></i>
            </a>
        <%}else{%>
            <a href="/carrito/<%=usuario.id%>" class="link-carrito">
                <i class="fas fa-shopping-cart"></i>
            </a>
        <%}%>
        
        
        </div>
        <div id="menu--navegacion" class="navegacion">
            <section id="carritoAparecer" class="divCarritoXD">
                <%if(typeof usuario == 'undefined'){%>
                    <a href="/users/login" class="link-carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                <%}else{%>
                    <a href="/carrito/<%=usuario.id%>" class="link-carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                <%}%>
                
            </section>
        <span class="menu-icon"><a href="#"><p class="palabraMenu"><i class="fas fa-home"></i>Menu</p><i class=" fas fa-bars"></i></a></span>
        
            <ul class="menuNavegacion">
                <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="/productos"><i class="fas fa-shopping-bag"></i> Productos</a></li>
                <li><a href="/contacto"><i class="fas fa-phone-square-alt"></i> Contacto</a></li>
                <li><a href="/comoComprar"><i class="fas fa-cart-plus"></i> Como comprar</a></li>
                <%if(typeof usuario == 'undefined'){%>
                    <li><a href="/users/registro"><i class="fab fa-creative-commons-by"></i> Crear Cuenta</a></li>
                    <li><a href="/users/login"><i class="fas fa-sign-in-alt"></i> Iniciar sesion</a></li>
                <%}else{%>
                    <li><a href="/users/perfil/<%=usuario.id%>"><i class="fab fa-creative-commons-by"></i> Mi Cuenta</a></li>
                    <li><a href="/cerrar"><i class="fas fa-sign-in-alt"></i> Cerrar sesion</a></li>
                <%}%>
                
            </ul>
        </div>

    </div>

</header>
<header class="header-compu" id="heade">
<div class="menuSuperior">
    <div class="logo-nombre">
        <img src="/images/logos/corona.jpg" alt="">
        <h6>NachoStore</h6>
    </div>
    <div class="caja-input">
        <input type="text" placeholder="Buscar">
    </div>
    <div class="menuSuperiorDerecho">
        <%if(typeof usuario == 'undefined'){%>
            <a href="/users/registro">Crear Cuenta</a>
            <a href="/users/login">Iniciar Sesion</a>
        <%}else{%>
            <a href="/users/perfil/<%=usuario.id%>">Mi Cuenta</a>
            <a href="/cerrar">Cerrar Sesion</a>
        <%}%>
        
</div>
</div class="navegacionMenuInferior">
     <ul class="listaNavegacion">
        <a href="/"><li>Inicio</li></a>
        <a href="/productos"><li>Productos</li></a>
        <a href="/contacto"><li>Contacto</li></a>
        <a href="/comoComprar"><li>Como Comprar</li></a>
         <div class="cajitaDelCarrito">
            <%if(typeof usuario == 'undefined'){%>
             <a href="/users/login"><i class="fas fa-shopping-cart"></i></a>
            <%}else{%>
                
                    <a href="/carrito/<%=usuario.id%>"><i class="fas fa-shopping-cart"></i>
                    <div id="caja-carrito-nuevo" class="div-carrito-numero" style="position: absolute;
                    top: -9px;
                    right: 5px;
                    width: 19px;
                    height: 19px;
                    background: white;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;">
                    <%if(typeof numero == 'undefined'){%>
                        <p id="numero-carrito" style="height: 31px; margin: 0px; color: black !important;">0</p>
                    <%}else{%>
                        <p id="numero-carrito" style="height: 31px; margin: 0px; color: black !important;"><%=numero%></p>
                    <%}%>

                    </div>
                </a>
                
            <%}%>
            </div>
    </ul>
<div>

</div>

</header>